body {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  margin: 0 0 0.75em;
  text-align: center; }

h1, h3, h5 {
  font-weight: 400; }

h2, h4, h6 {
  font-weight: 300; }

h1, h2 {
  /* TODO: test larger screen width */
  font-size: 5.4em; }
  @media only screen and (max-width: 1824px) {
    h1, h2 {
      /* TODO: test larger screen width */ } }
  @media only screen and (max-width: 1224px) {
    h1, h2 {
      font-size: 5.1em; } }
  @media only screen and (max-width: 1024px) {
    h1, h2 {
      font-size: 4.5em; } }
  @media only screen and (max-width: 768px) {
    h1, h2 {
      font-size: 3.9em; } }
  @media only screen and (max-width: 640px) {
    h1, h2 {
      font-size: 3.3em; } }
  @media only screen and (max-width: 321px) {
    h1, h2 {
      font-size: 3em; } }

h3, h4 {
  /* TODO: test larger screen width */
  font-size: 1.95em;
  width: 520px;
  margin: auto; }
  @media only screen and (max-width: 1824px) {
    h3, h4 {
      /* TODO: test larger screen width */ } }
  @media only screen and (max-width: 768px) {
    h3, h4 {
      font-size: 1.8em;
      width: 400px; } }
  @media only screen and (max-width: 640px) {
    h3, h4 {
      font-size: 1.65em;
      width: 350px; } }
  @media only screen and (max-width: 321px) {
    h3, h4 {
      font-size: 1.5em; } }

h5, h6 {
  /* TODO: test larger screen width */
  font-size: 1.3em; }
  @media only screen and (max-width: 1824px) {
    h5, h6 {
      /* TODO: test larger screen width */ } }
  @media only screen and (max-width: 768px) {
    h5, h6 {
      font-size: 1.2em; } }
  @media only screen and (max-width: 640px) {
    h5, h6 {
      font-size: 1.1em; } }
  @media only screen and (max-width: 321px) {
    h5, h6 {
      font-size: 1em; } }

p {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1.5em;
  /* TODO: larger screen width */
  font-size: 1em;
  width: 700px; }
  @media only screen and (max-width: 1824px) {
    p {
      /* TODO: larger screen width */ } }
  @media only screen and (max-width: 768px) {
    p {
      font-size: 1em;
      width: 600px; } }
  @media only screen and (max-width: 640px) {
    p {
      width: auto;
      padding: 0px 15px 8px;
      font-size: 1em; } }
  @media only screen and (max-width: 321px) {
    p {
      font-size: 0.8em; } }
  p.details {
    text-align: justify; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #355e98; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

.header-background,
.header-content {
  width: 100%;
  height: 520px; }
  @media only screen and (max-width: 500px) {
    .header-background,
    .header-content {
      height: 300px; } }
  @media only screen and (min-width: 501px) and (max-width: 570px) {
    .header-background,
    .header-content {
      height: 350px; } }
  @media only screen and (min-width: 571px) and (max-width: 670px) {
    .header-background,
    .header-content {
      height: 400px; } }
  @media only screen and (min-width: 671px) and (max-width: 768px) {
    .header-background,
    .header-content {
      height: 450px; } }
  @media only screen and (min-width: 769px) and (max-width: 992px) {
    .header-background,
    .header-content {
      height: 520px; } }

.header-background {
  background: url("../img/header.jpg") no-repeat center;
  background-size: cover;
  position: fixed; }

.header-content {
  margin-top: -20px; }

.header-content * {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 100%;
  color: white;
  clear: both; }

.header-content h1 {
  margin-bottom: 0; }

.main {
  width: 100%;
  margin-top: -20px;
  background-color: white;
  position: relative;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -ms-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px); }
  .main > div > h3 {
    -webkit-transform: translate(0, 20%);
    -moz-transform: translate(0, 20%);
    -ms-transform: translate(0, 20%);
    -o-transform: translate(0, 20%);
    transform: translate(0, 20%); }

.navbar {
  text-align: center; }

.navbar ul {
  display: inline-block;
  -webkit-padding-start: 0; }

.navbar ul li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px; }
  @media only screen and (max-width: 640px) {
    .navbar ul li {
      margin-left: 2px;
      margin-right: 2px; } }

.navbar ul li a {
  color: black;
  padding: 0 1px 0 1px; }
  @media only screen and (max-width: 640px) {
    .navbar ul li a {
      font-size: 0.8em; } }

.navbar ul li a:hover {
  border-bottom: 2px solid #477dca; }

.navbar .navbar-divider {
  height: 15px;
  width: 2px;
  -webkit-transform: translate(0, 10%);
  -moz-transform: translate(0, 10%);
  -ms-transform: translate(0, 10%);
  -o-transform: translate(0, 10%);
  transform: translate(0, 10%);
  background-color: black; }
  @media only screen and (max-width: 640px) {
    .navbar .navbar-divider {
      height: 12px;
      width: 1px; } }

.navbar-active {
  border-bottom: 2px solid #477dca; }

.item-container {
  margin-top: 25px;
  text-align: center; }

.item {
  margin: 0 auto; }

.item-img {
  height: 180px; }

.item-img img {
  height: 100%; }

.item-headline {
  margin-top: 10px;
  margin-bottom: 5px; }

.item-headline a {
  color: black;
  word-spacing: 0px; }

.item-headline a:hover {
  text-decoration: underline; }

.item-time-author {
  margin-bottom: 0px;
  color: #999; }

.item-time {
  font-style: italic;
  letter-spacing: 0.5px; }

.item-description {
  margin-top: 10px; }

/*# sourceMappingURL=main.css.map */
