//  _main.scss

.main {
    width: 100%;
    margin-top: -20px;
    background-color: white;
    position: relative; //  because of fixed, need to include this line to show
    @include transform(translateZ(1px));    //  fix safari z-index with fixed issue
    
    & > div > h3 {
        @include transform(translate(0, 20%));
    }
}

.main-description {
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    padding: 0 20px 0 20px;
}





