// _navbar.scss

.navbar {
    text-align: center;
}

.navbar ul {
    display: inline-block;
    -webkit-padding-start: 0;
}

.navbar ul li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;

    @media only screen and (max-width: $media-breakpoint-smartphones-big) {
        margin-left: 2px;
        margin-right: 2px;
    }
}

.navbar ul li a {
    color: $navbar-text-color;
    padding: 0 1px 0 1px;
    @media only screen and (max-width: $media-breakpoint-smartphones-big) {
        font-size: $base-font-size * 0.8;
    }
}

.navbar ul li a:hover {
    border-bottom: 2px solid $navbar-text-hover-underline;
}

.navbar .navbar-divider {
    height: 15px;
    width: 2px;
    @include transform(translate(0, 10%));  // move down a bit
    background-color: $navbar-text-color;

    @media only screen and (max-width: $media-breakpoint-smartphones-big) {
        height: 12px;
        width: 1px;
    }
}

.navbar-active {
    border-bottom: 2px solid $navbar-text-hover-underline_active;
}